* {
    font-family: Montserrat;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FABC3F;
}

.preGame {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.preGame > #startPlay {
    transition: 0.2s;
}

.preGame p {
    color: #C7253E;
    font-size: large;
    font-weight: 600;
    margin-top: -4px;
    margin-bottom: 25px;
}
.preGame > div {
    display: flex;
    flex-direction: column;
}

.preGame input {
    height: 25px;
    border: 2px solid white;
    background-color: transparent;
    appearance: none;
    border-radius: 4px;
    outline: none;
    width: 250px;
}

.customField {
    position: relative;
}

.customField .placeholder {
    position: absolute;
    color: #535353;
    top: 25%;
    left: 20px;
    font-weight: 400;
    transition: 0.3s ease;
    font-size: 14px;
}


.customField input:focus + .placeholder {
    top: -10px;
    left: 28%;
    background-color: #FABC3F;
    color: #222;
    font-size: 18px;
}

#startPlay {
    text-decoration: none;
    border: none;
    background-color: #E85C0D;
    color: azure;
    font-size: large;
    font-weight: 600;
    padding: 25px 40px;
    border-radius: 8px;
}

.preGame > #startPlay:hover {
    scale: 1.05;
}


.play {
    display: flex;
}
